.tags {
  background: #283240;
  height: 100%;
  display: flex;
  padding: 0.4rem;
  margin: 0 0.5rem 0 0;
  justify-content: center;
  align-content: 'center';
  color: #ffffff;
  border-radius: 8px;
}
